* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.contact {
  color: white;
  font-size: larger;
  height: 70px;
  background-color: purple;
}

.contact__title {
  padding-top: 20px;
  display: block;
  text-align: center;
}

span {
  border: 1px solid orange;
  border-radius: 7px;
  padding: 5px 10px 5px;
  margin-left: 20px;
  background-color: orangered;
}

span a {
  color: inherit;
  text-decoration-line: inherit;
}

.navbar__logo {
  display: block;
  float: left;
  margin-left: 100px;
}

.navbar__links {
  display: block;
  float: right;
  text-decoration-line: none;
  color: grey;
  margin: 50px 10px 10px;
  font-size: large;
}

.navbar button {
  background-color: purple;
  color: white;
  padding: 5px 20px 5px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 100px;
}

.navbar__links:hover {
  opacity: 0.5;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
